.form__container {
  width: 60vw;
  margin: 0 auto;
}

.post__form__field {
  display: block;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #9e9e9e;
  margin: 7px;
  font-family: 'Roboto';
}

.post__form__button {
  position: absolute;
  width: 10%;
  color: #ffffff;
  font-weight: bold;
  font-size: 1em;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  margin: 55px 0 50px;
}

.post__form__button--save {
  background-color: #5cb85c;
  right: 405px;
}

.post__form__button--cancel {
  background-color: #d9534f;
  right: calc(50% - 115px);
}
